* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App{
  background: whitesmoke;
}

.positive_change{
  color: rgb(4, 192, 4);
}

.negative_change{
  color: red;
}


/* ********************NavBar*************** */

.navbar{
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  background: black;
  color: white;
  width: 100%;
  height: 90px;
  padding: 30px 2.5%;
}

.logo_container{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo_container img{
  width: 180px;
  margin-top: 2.5px;
}

.links_container{
  height: 100%;
  display: flex;
  align-items: center;
}

.links_container a{
  text-decoration: none;
  margin-left: 7.5vw;
  text-transform: uppercase;
  font-size: 17.5px;
  color: white;
  cursor: pointer;
}


/* ******************SEARCH************** */

.search_container{
  display: none;
}

.search_container.active{
  position: fixed;
  top: 90px;
  left: 0px;
  background: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.445);
  padding: 20px;
}


#stock_input{
  margin: 20px auto;
  margin-top: 10px;
  width: 170px;
  text-indent: 10px;
  outline: none;
  border-radius: 2.5px 0px 0px 2.5px;
  height: 40px;
  border: none;
}

#stock_submit{
  margin: 20px auto;
  margin-top: 10px;
  width: 80px;
  outline: none;
  text-align: center;
  background: rgb(4, 115, 219);
  border: none;
  outline: none;
  border-radius: 0px 2.5px 2.5px 0px;
  color: white;
  cursor: pointer;
  height: 40px;
}

#searched_stock{
  width: 99%;
  max-width: 500px;
}

#stock_error{
  margin: 0px;
}


/* //////////////////////HOME//////////////// */

.home_container{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 2.5%;
  padding-top: 20px;
}

.home_left{
  width: 100%;
  min-width: 500px;
}

.home_right{
  min-width: 310px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 960px) {
  .home_left{
    width: 65%;
  }
  
  .home_right{
    padding-left: 10px;
    width: 35%;
    justify-content: flex-end;
  }
}


/* ********************User Positions*************** */

.positionSection{
  width: 100%; 
}

.positions_headline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  height: 50px;
}

.positions_headline a{
  margin-top: 10px;
  padding: 7.5px;
  background:rgb(4, 115, 219);
  color: white;
  outline: none;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  text-decoration: none;
}

.positions_container{
  width: 100%;
  margin: 10px 0px;
}

#positions_key{
  background: rgb(29, 29, 29);
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.position_row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
  background: rgb(218, 218, 218);
}

.position_row h4{
  width: 25%;
  text-align: center;
}

.position_row img{
  width: 15px;
  height: 15px;
  margin: 2.5px;
  cursor: pointer;
}

/* *********************NEWS HOME******************* */

.news{
  display: flex;
  box-shadow: 0px 2px 8px rgba(119, 136, 153, 0.322);
  border-radius: 5px;
  background: white;
}

.news a{
  color: black;
  text-decoration: none;
}

.featuredSection{
  width: 500px;
}

.featuredSection img{
  width: 100%;
  height: 200px;
  border-radius: 5px 0px 5px 0px;
  background: lightgrey;
}

.headline_info{
  padding: 5px;
  padding-left: 10px;
  margin: 10px 0px;
  height: 150px;
}

.featuredSection a h2{
  display: block;
  font-size: 25px;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color:rgb(4, 115, 219);
}

.other_articles{
  width: 100%;
  font-size: 15px;
}

.home_article{
  display: block;
  margin: 16px 0px;
  padding: 2.5px 15px;
  padding-right: 5px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_article h2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 17px;
  color:rgb(4, 115, 219);

}








/* ***************FEATURED STOCKS****************** */

.featured_headline{
  margin: 6.5px 0px;
  text-align: left;
  height: 50px;
  display: flex;
  align-items: center;
}

.featured_stocks_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: 960px){
  .featured_stocks_container{
    flex-direction: column;
  }
}

.featured_stock{
  width: 285px;
  text-decoration: none;
  padding: 10px;
  /* height: 125px; */
  background: rgb(29, 29, 29);
  color: white;
  margin: 2.5px;
  border-radius: 2.5px;
}

.featured_stock a{
  text-decoration: none;
}

.image_container{
  display: flex;
  align-items: center;
  height: 105px;
}

.featured_stock img{
  width: 50px;
  height: 50px;
  border-radius: 2.5px;
}

.featured_stock_flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.logo_ticker{
  display: flex;
}

.stock_name_container{
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  margin-right: auto;
  color: white;
  font-size: 12.5px;
}

.price_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2.5px;
  height: 100%;
  font-size: 15px;
}

.price_container button{
  margin-top: 10px;
  padding: 7.5px;
  background:rgb(4, 115, 219);
  color: white;
  outline: none;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  width: 100px;
}


/* ***********************STOCK QUOTE**************** */

.stock_quote{
  width: 100%;
  max-width: 950px;
  padding: 10px 2.5%;
  margin: 10px auto;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}

.quote_container{
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.quote_container img{
  width: 80px;
  height: 80px;
  border-radius: 2.5px;
  background:linear-gradient(rgb(243, 237, 237), rgb(228, 224, 224));
  text-indent: 100vw;
}

.quote_container button{
  margin-top: 10px;
  padding: 7.5px;
  background:rgb(4, 115, 219);
  color: white;
  outline: none;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  font-size: 17.5px;
}

.name_logo{
  display: flex;
  align-items: center;
}

.name_logo div{
  padding: 5px;
}

#price{
  margin: 10px auto;
  margin-top: 15px;
  font-size: 30px;
}

.quote_data{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7.5px;
}

.metrics_info{
  width: 35%;
}

.metrics_info div, .div_info div{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 2.5px 0px;
}

.div_info{
  width: 35%;
  text-align: left;
}

.in_the_news{
  margin: 20px auto;
}

.article_link{
  display: block;
  padding: 10px;
  width: 100%;
  background: white;
  margin: 7.5px auto;
  border-radius: 2.5px;
  color: white;
  text-decoration: none;
  box-shadow: 0px 2px 10px lightgrey;
}

.article_link h2{
  color:rgb(4, 115, 219);
}

.article_link h3{
  color: black;
}


/* ***************ADD POSITION MODAL*********** */

.add_position_modal{
  display: none;
}

.add_position_modal.active{
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.exit_modal{
  display: none;
}

.exit_modal.active{
  position: fixed;
  display: inherit;
  top: 2.5%;
  right: 2.5%;
  width: 30px;
  cursor: pointer;
  z-index: 110;
}

.add_position_container{
  width: 95%;
  max-width: 400px;
  background: white;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 5px;
  text-align: center;
}

.enter_position_headline{
  margin-bottom: 25px;
}

.position_input_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  max-width: 315px;
}

.position_input_container input{
  text-indent: 10px;
  outline-color:rgb(4, 115, 219);
}

.position_submit_button{
  display: block;
  margin: 30px auto;
  margin-bottom: 10px;
  text-align: center;
  background:rgb(4, 115, 219);
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 2.5px;
  color: white;
  outline-color:rgb(4, 115, 219);
  cursor: pointer;
}

.add_position_error{
  line-height: 20px;
  color: white;
  padding-bottom: 10px;
}

#position_submitted{
  color: rgb(5, 179, 5);
  margin-bottom: 10px;
}

#view_positions, #close_button{
  display: inline-block;
  margin: 10px 5px;
  margin-bottom: 20px;
  text-align: center;
  background:rgb(4, 115, 219);
  border: none;
  padding: 10px;
  font-size: 17.5px;
  border-radius: 5px;
  color: white;
  outline-color:rgb(4, 115, 219);
  cursor: pointer;
  text-decoration: none;
}