* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
}

.positive_change{
  color: green;
}

.negative_change{
  color: red;
}

/* ***************FEATURED STOCKS****************** */

.featured_stocks_container{
  width: 95%;
  margin: 20px auto;
  max-width: 500px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.featured_stock{
  border-bottom: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px;
  height: 125px;
}

.featured_stock a{
  text-decoration: none;
}

.image_container{
  display: flex;
  align-items: center;
  height: 105px;
}

.featured_stock img{
  width: 60px;
  height: 60px;
  border-radius: 2.5px;
}

.featured_stock_flex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_ticker{
  display: flex;
}

.stock_name_container{
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  margin-right: auto;
}

.price_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 2.5px;
  height: 100%;
}

.price_container button{
  margin-top: 10px;
  padding: 7.5px;
  background: rgb(2, 134, 24);
  color: white;
  outline: none;
  border: none;
  border-radius: 2.5px;
  cursor: pointer;
  width: 100px;
}